<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="Source" connectionString="Server=DL9-DNTHYN1\SQLEXPRESS;Initial Catalog=Ads;Persist Security Info=True;User ID=adsuser;Password=adsuser"/>
        <add name="Destination" connectionString="Server=db002.appharbor.net;Database=db4307;User ID=db4307;Password=iA3vGrFYfF7H3ZUu3Tf4fjMciWdQx6UEY5eLvJszANgWMCxFmzpwq2j8WYnSnXzi;"/>
    </connectionStrings>
    <appSettings>
        <add key="SourceDB" value="Ads"/>
        <add key="DestinationDB" value="db4307"/>
        <add key="IntializationFile" value="Y:\pWork\Ads\Ads.Model\Init.Sql"/>
    </appSettings>
    <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0"/>
    </startup>
</configuration>