<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AdsModelContainer" connectionString="metadata=res://*/Entities.AdsModel.csdl|res://*/Entities.AdsModel.ssdl|res://*/Entities.AdsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dev.devtalk.in;initial catalog=Ads2;persist security info=True;user id=adsuser;password=adsuser;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>