@model Ads.Model.ViewModels.LogOnModel
@{
    ViewBag.Title = "Log On";
  
}

<h2>
    Log On</h2>
<p>
    Please enter your username and password. @Html.ActionLink("Register", "Register") if you don't have an account.
</p>
@Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.")
 @Html.Partial("_OpenIdHtml", Model) 